@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$family-primary: Lato, sans-serif !default;

$pink: hsl(0, 100%, 92%);
$red: hsl(10, 99%, 50%);

$primary: $pink;
$link: $red;



@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "~bulma";
